<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>JobSe</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="#"></a>
    </nav>
    <div class="jumbotron text-center">
      <h1 class="display-4">JobSe</h1>
      <p class="lead">Jobs Search</p>
    </div>
  </header>

  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-6">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-primary" type="button">Go</button>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-6">
            <button class="btn btn-primary" type="button">
                <a href={{url_for("viewAll")}}>View All</a>
            </button>
      </div>
    </div>

<div class="container">
  <div class="row justify-content-center mb-5">
    <div class="col-md-6">
      <form action="/searchByCompany" method="post">
        <div class="input-group">
          <input type="text" class="form-control" name="company" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-primary" type="submit">Company</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>